gerencia:
  s3:
    accessKeyId: ${AWS_ACCESS_KEY_ID}
    secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
    region: ${AWS_REGION}
    bucket: "aw-gerencia-arquivos"

  mail:
    host: smtp.office365.com
    port: 587
    username: testes.gerencia
    password: ${MAIL_PASSWORD} # variável de ambiente para senha do mail

  cors:
    originPatterns:
      - http://localhost:3000
      - http://localhost-gerencia.com:8080
      - https://xdecodex.com.br
      - http://localhost:8000/oauth/token

  seguranca:
    redirects-permitidos:
      # Padrões do Spring Security para clients angular e mobile
      - http://localhost:8080/login/oauth2/code/angular
      - http://localhost:8080/login/oauth2/code/mobile
      - http://localhost:8080/swagger-ui/oauth2-redirect.html # Linha corrigida para 2 espaços
      # Custom redirects adicionais
      - http://localhost-gerencia.com:8000/authorized
      - https://oidcdebugger.com/debug
    auth-server-url: http://localhost:8080

spring:
  application:
    name: GerenciaLancamentos-api

  profiles:
    active: oauth-security
    group:
      prod: oauth-security

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gerencia-lancamentos?createDatabaseIfNotExist=true&useTimezone=true&serverTimezone=UTC
    username: root
    password: ${DB_PASSWORD} # variável de ambiente para senha do banco

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  pathsToMatch:
    - /auth/**
    - /api/**/v1/**
  swagger-ui:
    use-root-path: true

logging:
  level:
    br.com.xdecodex: DEBUG

security:
  clients:
    angular:
      client-secret: ${CLIENT_SECRET_ANGULAR}
    mobile:
      client-secret: ${CLIENT_SECRET_MOBILE}

  keystore:
    password: ${KEYSTORE_PASSWORD}
    key-password: ${KEY_PASSWORD}